.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:grammars, :index)
      %li=link_to pat(:new), url(:grammars, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:grammar)
    .inner
      %table.table
        %tr
          %th.first=mat(:grammar, :id)
          %th=mat(:grammar, :title)
          %th=mat(:grammar, :body)
          %th=mat(:grammar, :account_id)
          %th.last="&nbsp;"
        -@grammars.each do |grammar|
          %tr
            %td.first=grammar.id
            %td=grammar.title
            %td=grammar.body
            %td=grammar.account_id
            %td.last
              =button_to pat(:edit), url(:grammars, :edit, :id => grammar.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:grammars, :destroy, :id => grammar.id), :method => :delete, :class => :button_to
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")