.g_rule       {display:block; margin-bottom:1em;}
.g_rule_id    {display:block;}
.g_rule_begin {margin-left:1em;}
.g_single     {margin-left:.5em;}


.g_rule_id        {color: #326;}
.g_single_ref     {color: #326;}
.g_single_literal {color: #362;}
