.group
  =f.label :title
  =f.error_message_on :title
  =f.text_field :title, :class => :text_field

.group
  =f.label 'Grammar'
  =f.error_message_on :body
  =f.text_field :body, :class => :text_field, :style => 'display: none;'
  #grammar_content= f.object.body


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button, :onclick => "$('#grammar_body').val($('#grammar_content').text());"
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:grammars, :index)}';return false", :class => :button

-content_for :sidebar, partial("grammars/sidebar")
-content_for :sidebar, partial("base/sidebar")

%script== start_editor();
%script== (function($){ $(document).bind("idle.idleTimer", function(){update_grammar();}); $.idleTimer(7000); })(jQuery);

