.block
  %h3 Grammar Metrics
  .content
    %p#grammar_metrics
      #m_rule_counter           <h4 class="m_name">N. Produções            </h4><div class="m_value"></div>
      #m_terminal_rule_counter  <h4 class="m_name">X                       </h4><div class="m_value"></div>
      #m_unitary_rule_counter   <h4 class="m_name">N. Produções unitárias  </h4><div class="m_value"></div>
      #m_terminal_elem_counter  <h4 class="m_name">N. simbolos terminais   </h4><div class="m_value"></div>
      #m_recursive_rule_counter <h4 class="m_name">N. Produções recursivas </h4><div class="m_value"></div>
      #m_total_right_elem       <h4 class="m_name">T. recursivo descendente</h4><div class="m_value"></div> 
      #m_avg_rhs                <h4 class="m_name">T. avg do lado direito das produ</h4><div class="m_value"></div>
      #m_avg_alternatives       <h4 class="m_name">N. médio de alternativas        </h4><div class="m_value"></div>
      #m_ll1                    <h4 class="m_name">Tam das Tabelas de Parsing LL(1)</h4><div class="m_value"></div>
