.block
  %h3 Related Links
  %ul.navigation
    %li=link_to "Engenharia de Linguagens", 'http://twiki.di.uminho.pt/twiki/bin/view/Education/EL/WebHome'
    %li=link_to "Agile Article", '/agile.pdf'
    %li=link_to "Shellfy", 'http://www.shellfy.com'
    %li=link_to "Ruby Language", 'http://www.ruby-lang.org/en/'
