#block-text.block
  .content
    %h2.title About Graal Editor
    .inner
      %p.first
        As edit, analyze,  measure or transform attribute grammars by hand  is an exhaustive task, it would be great if it could be automatized, specially for those who work in Language Engineering.
        However, currently there are not editors oriented to grammar development that cover all our needs.
      %p
        In our language engeneering master classes we developed 
        %span.gray 
          Graal Editor
        , a structured editor, analyzer, metric calculator and transformer for attribute grammars.
        It is intended, with this tool, to fill the existing gap.

      %p
        An
        %span.gray 
          antlr
        based attribute grammar syntax was used to define the input for this system.
        As soon as the user types the grammar, the input is parsed and kept in an intermediate structure in memory which holds the important information about the input grammar.
        This intermediate structure can be used to calculate all the metrics  or to transform the input grammar.
      %p
        This system can be a valorous tool for those who  need to improve the performance or  functionalities of their language processor, speeding up the difficult task of defining and managing a language.
        Features like 
        %span.hightlight 
          highlighting, automatic indentation, on-the-fly error detection, etc,
        also add efficiency.

-content_for :sidebar, partial("base/sidebar")
